@{
    Page.Title = "SISTEMA DE INFORME DE LABORES (SIL)";
    Layout = "~/_Layout.cshtml";


    var bd = Database.Open("conn");

    int id = Request.QueryString["id"].AsInt();

    var lstSistemas = bd.Query("SELECT [id], [nombre] FROM [sil].[dbo].[Sistemas] where idEstado = 1");
    var lstAcciones = bd.Query("SELECT [id], [nombre] FROM[sil].[dbo].[Acciones] where idEstado = 1");
    var lstUnidades = bd.Query("SELECT [id], [nombre] FROM [sil].[dbo].[Unidades] where idEstado = 1");

    var datos = bd.QuerySingle(@"SELECT [id],[idEmpleado],replace(convert(varchar,[fecha],111),'/','-') fecha,[horaInicio],[horaFinal],[idSistema],[idAccion],[detalle],[observacion],[avance],[idUnidad]
                            FROM [dbo].[Registros] where id = @0", id);




    if (IsPost)
    {
        string fecha = Request.Form["fecha"]; //.Substring(6, 4) + "-" + Request.Form["fecha"].Substring(3, 2) + "-" + Request.Form["fecha"].Substring(0, 2);
        string horaIni = Request.Form["horainicio"];
        string horaFin = Request.Form["horafinal"];
        string idsistema = Request.Form["idsistema"];
        string idaccion = Request.Form["idaccion"];
        string idunidad = Request.Form["idunidad"];
        string Detalle = Request.Form["Detalle"];
        string Observacion = Request.Form["Observacion"];
        string porcentajeAvance = Request.Form["porcentajeAvance"];


        var query = @"update [dbo].[Registros] set [fecha] = @0, [horaInicio] = @1,[horaFinal] = @2,[idSistema] = @3,[idAccion] = @4,[detalle] = @5,[observacion] = @6,[avance] = @7,[idUnidad] = @8
                   where id = @9";
        var row = bd.QuerySingle(query, fecha, horaIni, horaFin, idsistema, idaccion, Detalle, Observacion, porcentajeAvance, idunidad, id);


        Response.Redirect("/");

    }

}

<form method="post" style="margin-top: 30px;">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Fecha">Fecha</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="fecha" name="fecha" aria-describedby="fecha" value="@datos.fecha" placeholder="Digite la Fecha" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="horainicio">Hora Inicio</label>
        <div class="col-sm-10">
            <input type="time" class="form-control" id="horainicio" name="horainicio" value="@datos.horaInicio" placeholder="Digite la hora de inicio" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="horafinal">Hora Final</label>
        <div class="col-sm-10">
            <input type="time" class="form-control" id="horafinal" name="horafinal" value="@datos.horaFinal"  placeholder="Digite la hora final" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="idsistema">Sistema</label>
        <div class="col-sm-10">
            <select id="idsistema" name="idsistema" class="selectpicker form-control">
                @foreach (var row in lstSistemas)
                {
                    if (datos.idsistema == row.id)
                    {
                        <option value="@row.id" selected>@row.nombre</option>
                    }
                    else
                    {
                        <option value="@row.id">@row.nombre</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="idaccion">Acción</label>
        <div class="col-sm-10">
            <select id="idaccion" name="idaccion" class="selectpicker form-control">
                @foreach (var row in lstAcciones)
                {
                    if (datos.idaccion == row.id)
                    {
                        <option value="@row.id" selected>@row.nombre</option>
                    }
                    else
                    {
                        <option value="@row.id">@row.nombre</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="idunidad">Unidad</label>
        <div class="col-sm-10">
            <select id="idunidad" name="idunidad" class="selectpicker form-control">
                @foreach (var row in lstUnidades)
                {
                    if (datos.idunidad == row.id)
                    {
                        <option value="@row.id" selected>@row.nombre</option>
                    }
                    else
                    {
                       <option value="@row.id">@row.nombre</option>
                    }

                }
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Detalle">Detalle</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="Detalle" name="Detalle" placeholder="Digite el detalle" required>@datos.detalle</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="Observacion">Observación</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="Observacion" name="Observacion" placeholder="Digite las observaciones">@datos.observacion</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="PorcentajeAvance">% Avance</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="porcentajeAvance" name="porcentajeAvance" value="@datos.avance" aria-describedby="fecha" min="1" max="100" maxlength="3" placeholder="Digite el porcentaje de avance" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Aceptar</button>
    <a href="/" class="btn btn-link" role="button">Cancelar</a>
</form>

<script>
    /*
    $('#fecha').val(moment().format('YYYY-MM-DD'))
    $('#horainicio').val(moment().format('HH:MM'))
    $('#horafinal').val(moment().format('HH:MM'))
    */
</script>